#include <windows.h>

IDI_ICON1	ICON	DISCARDABLE	"@/TWX/CFG/PKG_APP_ICO@"
IDI_ICON2	ICON	DISCARDABLE	"@/TWX/CFG/PKG_DOC_ICO@"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	@/TWX/CFG/VERSION_MAJOR@,@/TWX/CFG/VERSION_MINOR@,@/TWX/CFG/VERSION_PATCH@,@/TWX/CFG/VERSION_TWEAK@
PRODUCTVERSION 	@/TWX/CFG/VERSION_MAJOR@,@/TWX/CFG/VERSION_MINOR@,@/TWX/CFG/VERSION_PATCH@,@/TWX/CFG/VERSION_TWEAK@
FILEFLAGSMASK  	0
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "@/TWX/CFG/ORGANIZATION_NAME@"
            VALUE "FileDescription",  "@/TWX/CFG/FILE_DESCRIPTION@"
            VALUE "FileVersion",      "@/TWX/CFG/VERSION@-r./TWX/CFG/GIT_HASH"
            VALUE "InternalName",     "@/TWX/CFG/NAME@"
            VALUE "LegalCopyright",   "Copyright (C) @/TWX/CFG/COPYRIGHT_YEARS@  @/TWX/CFG/COPYRIGHT_HOLDERS@"
            VALUE "OriginalFilename", "@/TWX/CFG/NAME@.exe"
            VALUE "ProductName",      "@/TWX/CFG/NAME@"
            VALUE "ProductVersion",   "@/TWX/CFG/NAME@ @/TWX/CFG/VERSION@"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

// Required by MinGW but breaks MSVC; configured by CMake
#cmakedefine01 CREATE_MANIFEST
#if CREATE_MANIFEST
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "@/TWX/CFG/EXE_MANIFEST@"
#endif
